<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>

	<meta charset="utf-8"/>
	<title>{% block title %}{{ SITENAME }}{%endblock%}</title>
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css">
	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:800,400,300|Inconsolata' rel='stylesheet' type='text/css'>

	<link href="{{ FEED_DOMAIN }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
	{% if FEED_RSS %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
	{% endif %}
	<!--[if lt IE 9]>
    	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	{% include 'analytics.html' %}
</head>
<body>
	<section id="sidebar">
		<figure id="user_logo">
			<a href="{{ SITEURL }}"><div class="logo">&nbsp;</div></a>
		</figure>

		<div class="user_meta">
			<h1 id="user"><a href="/" class="">{{ AUTHOR }}</a></h1>
			<h2>{{ TAGLINE }}</h2>
			<ul>
				{% for title, link in MENUITEMS %}
					<li><a href="{{ link }}">{{ title }}</a></li>
				{% endfor %}
				{% if DISPLAY_PAGES_ON_MENU %}
					{% for p in PAGES %}
						<li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
					{% endfor %}
				{% else %}
					{% for cat, null in categories %}
						<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
					{% endfor %}
				{% endif %}
				{% for name, link in LINKS %}
					<li><a href="{{ link }}">{{ name }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<footer>
			<address>
				<p role="contentinfo">&copy; 2012 - 2013 {{ AUTHOR }}<br>
                Proudly powered by <a href="http://alexis.notmyidea.org/pelican/">Pelican</a>.</p>
			</address>
		</footer>
	</section>

	<section id="posts">
	{% block content %}
	{% endblock %}
	</section>

	<script src="href="{{ SITEURL }}/theme/js/main.js"></script>
</body>
</html>
